
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    margin: 0px auto;
}

a {
    text-decoration: none;
    border: 3px solid black;
    width: 110px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(233, 233, 198);
    box-shadow: 6px 6px 15px black;

    
}

h2 {
    font-size: 15px;
}

header, a, main, footer, nav, section, section article, header div,
footer div, .mainHistory section div, #mainGames, #mainGames div,
.puzzle div {
    display: flex;
    justify-content: center;
    align-items: center;
}

    /* header */

header {
    flex-direction: column;
}

    /* nav */

nav {
    justify-content: space-between;
    width: 100%;
    height: 9vh;
    background-color: rgb(24, 24, 41);
    padding: 0px 50px;
}

nav button, main section article button, .reset {
    width: 120px;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(233, 233, 198);
    box-shadow: 6px 6px 15px black;
    cursor: pointer;
}

header > nav > div > .compu > .compu1 > .compu2 {
    overflow: hidden;
}

.hv {
    gap: 60px;
    font-size: 18px;
    
}



.hv :hover {
    color: rgb(52, 85, 219);
}

nav button a,
main section article button a {
    font-size: 1rem;
    font-weight: 400px;
    color:rgb(0, 0, 0);
    letter-spacing: 0.5px;
}

.compu {
    display: flex;
    flex-direction: column;
}

.compu1 {
    background-color: rgb(255, 255, 255);
    margin: 5px 65px;
    width: 60px;
    height: 40px;
    border-radius: 5px;
    border: 5px solid rgb(170, 172, 163);   
    transform: skew(-10deg);
    animation: top 0.8s ease-in-out 0s 1 normal none, screen 2s ease 1s 1 normal none;
    

    
}

.compu2 {
    background-color: rgb(202, 201, 201);
    margin-right: 10px;
    width: 90px;
    height: 15px;
    border: 4px solid rgb(58, 57, 57);
    transform: skew(-50deg);
    border-radius: 5px;
    animation: bot 0.8s ease-in-out 0s 1 normal none;
}

/*  div header */

header > div {
    width: 100%;
    height: 50vh;
    background-image: url(../assets/img/codigo.jpg);
    background-size: cover;
    background-attachment: fixed;
}

header div h1 {
    font-size: 60px;
    color: white;
    text-align: center;
    text-shadow: 10px 0 10px black;
}

/* Index */

main {
    height: auto;
    min-height: 100vh;
    background-color: rgb(24, 24, 41);
    flex-direction: column;
}

main h2 {
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 5px;
    margin-bottom: 10%;
    color: rgb(89, 127, 145);
    text-shadow: 10px 0px 10px black;

}

main section {
    flex-wrap: wrap;
    justify-content: space-around;
}

main section article {
    background-color: rgb(226, 209, 174);
    width: 20%;
    min-width: 300px;
    height: 23vw;
    min-height: 300px;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
    border-radius: 0px 20px 0px 20px;
    border: 3px solid black;
}

main section article img {
    width: 90%;
    margin-top: 20px;
    border-radius: 15px;
}

main section article button {
    margin-bottom: 20px;
    background-color: rgb(184, 184, 147);
    box-shadow: none;
}

/* FOOTER */

footer {
    width: 100%;
    height: 18vh;
    justify-content: space-between;
    padding: 0px 30px;
}

footer div {
    font-family: Arial, Helvetica, sans-serif;
    width: 20%;
    text-align: center;
}

footer img {
    width: 100px;
    margin-right: 50px;
}

footer h3 {
    font-size: 15px;
}

footer p {
    font-size: 25px;
    margin-right: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* HISTORIA */

.mainHistory section div {
    margin: 100px;
    padding-top: 80px;
}

.mainHistory h3 {
    color: rgb(20, 72, 75);
    width: 30vw;
    text-align: center;
    font-size: 40px;
}

.mainHistory .h3size {
    width: 30vw;
}

.mainHistory .pp {
    width: 100vh;
}

.mainHistory p {
    color: white;
    width: 40vw;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.sectionVideo {
    display: flex;
    flex-direction: column;
    background-color: rgb(24, 24, 41);
    padding: 100px;
}

#video {
    width: 720px;
    height: auto;
    border: 10px solid rgb(255, 255, 255);
}

.barra {
    display: flex;
    background-color: rgb(0, 0, 0);
    justify-content: space-between;
    padding: 5px 3px;
    width: 724px;
    border-radius: 10px 10px 10px 10px;
}

.bar {
    display: flex; 
    gap: 30px;
    padding: 10px;

}

.bar button {
    width: 90px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px 5px 5px 5px;
}

.lp {
    color: white;
    margin: 10px;
}

.sectionVideo h3 {
    padding: 15px;
    text-align: center;
    font-size: 40px;
    margin-bottom: 100px;
    width: 100%;
    text-shadow: 10px 0px 10px rgb(119, 117, 117);
}

/* JUEGO */


#mainGames h2 {
    padding-top: 100px;
    color: rgb(255, 255, 255);
    font-size: 35px;
}

#mainGames > div {
    align-items: flex-start;
    width: 15%;
    height: 60vh;
}

#mainGames > div div {
    width: 15%;
    min-width: 200px;
    text-align: center;
    height: 500px;
    color: rgb(0, 0, 0);
    font-size: min(0.5vw + 0.7rem);
}

.puzzle div {
    border: 2px solid black;
    border-width: 2.5px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 100%;
}

.puzzle :hover {
    background-color: rgb(53, 50, 50);
}

#mainGames > div img {
    height: 520px;
    width: 100%;
    padding: 10px;

}

.reset {
    width: 250px;
    margin-bottom: 100px;
}

.ocultar {
    display: none;
}

/* animaciones */

@keyframes top {
	0% {
		opacity: 0;
		transform: translateY(-50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes bot {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1s;
		transform: translateY(0);
	}
}

@keyframes screen {
	0%,
	50%,
	100% {
        background-color: rgb(0, 0, 0);
		opacity: 1;
	}

	25%,
	75% {
        background-color: white;
		opacity: 1;
	}
}
